@require '../../styles/global.import.styl'

.field-wrapper
  position relative
  padding 25px 15px 15px 15px

  .floating-label
    font-size 14px; font-weight 300
    absolute bottom 16px left 15px
    transition all .2s ease-out

  &.expand .floating-label
    bottom 42px; font-size 12px

  input
    width 100%; background transparent
    border none; box-shadow inset 0 -1px 0 #ddd
    transition border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s
    font-size 16px
    font-weight 600

  &.active input
    box-shadow inset 0 -2px 0 #51d2b7