wings-icon(iconCode)
  &:before
    content iconCode
    font-family "wings"; font-style normal; font-weight normal
    font-variant normal
    speak none
    display inline-block
    text-decoration inherit
    width 1em; margin-right 0.2em; margin-left 0.2em
    text-align center
    text-shadow 1px 1px 1px rgba(127, 127, 127, 0.3)