template(name="listing")
  .caption Essentials
  .lesson-listing
    .nano: .nano-content
      ul.lesson-chain
        li: a(href="#")
          .title Getting started
          .sub-title Fast Meteor's introduction
          .status
        li.active: a(href="#")
          .title Template
          .sub-title Blaze explanations.
          .status
        li: a(href="#")
          .title Collections
          .sub-title Database document basic
          .status
        li: a(href="#")
          .title Public ft Subscribe
          .sub-title Distributed Data Protocol
          .status
        li: a(href="#")
          .title Reactivity
          .sub-title Modern style programming
          .status
        li: a(href="#")
          .title Packages
          .sub-title 3rd party opensoure
          .status