template(name="menu")
  .branding.icon-appbar-infinite
  .categories
    .nano: .nano-content
      ul.category-list
        li: a.icon-appbar-home-gps(href="#")
        li.active: a.icon-appbar-projector-screen(href="#")
        li: a.icon-appbar-interface-list(href="#")
        li: a.icon-appbar-cog(href="#")
        li: a.icon-appbar-page-corner-bookmark(href="#")
        li: a.icon-appbar-calendar-future(href="#")
        li: a.icon-appbar-resource-group(href="#")