template(name="home")
    h1 Yay, this is home!
    h1 Sure, we know!
    br
    +wingsInput(wrapperClass="userName" label="first name" value="cloudle")
    +wingsInput(wrapperClass="email" label="email adress" value="")
    +wingsInput(wrapperClass="phone" label="phone no." value="")