template(name="navigation")
  nav.fixed-top
    .navigation
      #global-search
        .search-icon.icon-search
        input(type="text" placeholder="search everything..")
    #list-nav.navigation.right
      span right-nav